<table>
  <tr>
    <td></td>
    <td><b>I'm good at</b></td>
    <td><b>I'm familiar</b></td>
  </tr>
  <tr>
    <td><b>I want to work</b></td>
    <td>
      <ul>
        <li>Ruby/Rails/Grape and so on</li>
        <li>Go</li>
        <li>Linux</li>
        <li>Docker</li>
        <li>Ansible</li>
        <li>PostgreSQL</li>
        <li>PostGIS</li>
        <li>QGIS</li>
        <li>nginx</li>
        <li>git</li>
        <li>bash/zsh</li>
        <li>Redis</li>
        <li>Vagrant</li>
      </ul>
    </td>
    <td>
      Everything below
    </td>
  </tr>
  <tr>
    <td><b>I want to improve</b></td>
    <td>Everything above</td>
    <td>
      <ul>
        <li>MongoDB</li>
        <li>Graphite</li>
        <li>Elixir/Erlang and functional programming</li>
        <li>Kafka</li>
        <li>RabbitMQ</li>
        <li>Java</li>
        <li>ML and DL</li>
        <li>Messaging bots for Telegram/Facebook</li>
        <li>Android programming</li>
        <li>Swagger</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><b>I don't want to work</b></td>
    <td>
      <ul>
        <li>C++</li>
        <li>Qt</li>
        <li>QML</li>
        <li>BPMN</li>

      </ul>
    </td>
    <td>
      <ul>
        <li>Python</li>
        <li>JavaScript</li>
      </ul>
    </td>
  </tr>
</table>
